{% extends 'base.html' %}


{% block content %}    

<h1>{% block title %} Orders {% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        {% if orders %}
            {% for order in orders %}
            <div style="padding: 10px;
            background-color: #EEE;
            margin: 20px">
    <p>#{{ loop.index }}</p>        

    <form action="{{ url_for('complete') }}" method="post">
        <button type="submit" class="btn btn-success">Complete</button>
    </form>

    <button type="button" class="btn btn-danger" onclick="remove_order(orders)">Delete</button>
    {% for drink in order %}
                            <p style="font-size: 24px">{{ drink['name'] }} #{{ drink['amount'] }}</p>
                    
                    {% endfor %}
                </div>
            {% endfor %}
        {% elif not orders %}
            <div style="padding: 10px;
                        background-color: #EEE;
                        margin: 20px">
                <p style="font-size: 24px">Nothing to see here yet.</p>
                </div>
        {% endif %}
    </div>
{% endblock %}